<!-- <app-header></app-header> -->
<!-- <form [formGroup]="addClient" class="form-"  > -->
    <!-- <p>First Nname: <b> <input type="text" class="form-control" formControlName="first_name" id="email"></b></p>
    <p>Last Name: <b> <input type="text" class="form-control" formControlName="last_name" id="emailf"></b></p> -->
    <p>First Name: <b>{{setdataE.first_name}}</b></p>
    <p>Last Name: <b>{{setdataE.last_name}}</b></p>
    <p>Email: <b>{{setdataE.email}}</b></p>
    <p>Gender: <b>{{setdataE.gender}}</b></p>
    <p>Ip_address: <b>{{setdataE.ip_address}}</b></p>
<!-- </form> -->