<div id="delatetRecentranaction"  role="dialog" data-easein="expandIn" data-backdrop="static" data-keyboard="false" class="modal zoomIn animated globalError">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-right">
                </div>
            </div>
            <div class="modal-body modalBodyScroll text-center"><span class="icon-Caution mainicon"></span>
                <h3>{{sessionout}}</h3>           
            </div>
            <div class="modal-body modalBodyScroll text-center"><span class="icon-Caution mainicon"></span>
                <h3></h3><a href="#/login" class="nextButton">OK												</a>
            </div>
        </div>
    </div>
</div>